@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&family=Playfair+Display:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preloader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  transition: all 0.3s ease-in;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

a,
p,
span {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  background-color: white;
}

.nav-link {
  color: white !important;
  font-size: 18px !important;
}

.nav-link:hover {
  margin-top: 0rem;
  border-bottom: 1px solid white;
}

.btn-book {
  color: white !important;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 5px;
}

#section-one {
  height: 25rem;
  margin-top: -7rem;
}

.about-banner-clouds {
  height: 12rem;
  position: relative;
  z-index: -1;
}

.breadcrumb-item a {
  color: #fff !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.about-banner-clouds img {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 26rem;
  margin-top: 0rem;
}

.about-banner-sun {
  width: 54%;
  position: absolute;
  z-index: 1;
}

.about-banner-mountain {
  position: absolute;
  width: 100%;
  /* top: -11rem; */
  z-index: 2;
}

.banner-heading {
  color: white !important;
  font-size: 4rem !important;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#section-two {
  padding: 50px 0 50px;
}

.section-two-heading {
  font-family: "Montserrat", sans-serif !important;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section-two-para {
  font-size: 18px;
  letter-spacing: 1.8px;
}

.btn-buy {
  color: black !important;
  background-color: #ff4400;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-buy:hover {
  color: #ff4400 !important;
  background-color: white;
  border: 1px solid #ff4400;
}

#section-three {
  padding: 50px 0;
}

.section-three-heading {
  font-size: 60px;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.section-three-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.container .time-content {
  display: flex;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1px solid black;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  background: rgb(255 255 255 / 0%);
}

.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  color: #000;
}

.time .text {
  text-transform: capitalize;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}

.email-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
}

.email-content p {
  font-size: 25px;
}

.input-box {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 360px;
  width: 100%;
  margin-top: 20px;
  column-gap: 20px;
}

.input-box input,
.input-box button {
  height: 100%;
  outline: none;
  border: none;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 400;
}

.input-box input {
  width: 100%;
  padding: 0 15px;
  color: #000;
}

input::placeholder {
  color: #000;
}

.input-box button {
  cursor: pointer;
  background-color: #eee;
  color: #000;
  white-space: nowrap;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.input-box button:hover {
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .section-three-heading {
    font-size: 50px;
  }
}

#footer {
  background-image: url(images/footer-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 40px 0;
}

.left-side h2 {
  color: white;
  font-size: 25px;
}

.left-side p {
  color: white;
  padding-top: 6rem;
  font-size: 18px;
}

.right-side h2 {
  color: white;
  padding-left: 29px;
  font-size: 20px;
  padding-bottom: 25px;
}

ul {
  list-style: none;
}

.quick-links li a {
  line-height: 39px;
  color: white;
  font-size: 17px;
}

.quick-links li p {
  font-size: 17px;
  color: white;
}

@media screen and (max-width: 900px) {
  .nav-link {
    color: white !important;
  }

  .btn-book {
    color: white !important;
    border: 1px solid white;
  }

  #section-one {
    height: 28rem;
  }

  .banner-heading {
    color: white !important;
    font-weight: 500;
    padding-top: 0rem;
  }

  .left-side p {
    padding-top: 18rem;
  }

  .contact-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right-side h2 {
    padding-bottom: 0 !important;
  }

  .quick-links li p {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 6px;
  }

  .section-two-para {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .book-img {
    margin-top: 6rem;
    width: 110% !important;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .navbar-brand {
    width: 70% !important;
  }

  .nav-link {
    color: white !important;
  }

  .btn-book {
    color: white !important;
    border: 1px solid white;
  }

  #section-one {
    height: 26rem !important;
  }

  .banner-heading {
    color: white !important;
    font-weight: 500;
    font-size: 3rem !important;
    margin-top: 15px;
  }

  .left-side p {
    padding-top: 3rem !important;
  }

  ul {
    padding-left: 0 !important;
  }

  .right-side h2 {
    padding-left: 0 !important;
  }

  .book-img {
    margin-top: 6rem;
    width: 100% !important;
  }

  .book-col {
    border: none !important;
  }

  .nav-link:hover {
    border: none !important;
  }
}

@media (min-width: 1000px) and (max-width: 1035px) {
  .navbar-brand img {
    width: 80%;
  }

  .btn-book {
    white-space: nowrap;
  }

  .nav-link {
    white-space: nowrap;
  }

  .navs-links {
    column-gap: 3rem !important;
  }

  .quick-links li a {
    font-size: 16px;
  }

  .quick-links li p {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 9px;
  }

  .mail {
    margin-left: -10px;
  }
}
