* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#FAQ {
  padding: 50px 0;
}
.accordion-button {
  color: black !important;
  background-color: #a9d4ed !important;
  font-size: 21px !important;
}
.accordion-button:not(.collapsed) {
  font-size: 30px;
  color: white !important
  ;
  background-color: #0c2341 !important;
}
